@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* -- colors --- */
@layer base {
  :root {
    --colors-gray-50: hsl(0 0% 99%);
    --colors-gray-100: hsl(0 0% 97.3%);
    --colors-gray-150: hsl(0 0% 95.1%);
    --colors-gray-200: hsl(0 0% 93%);
    --colors-gray-250: hsl(0 0% 90.9%);
    --colors-gray-300: hsl(0 0% 88.7%);
    --colors-gray-400: hsl(0 0% 85.8%);
    --colors-gray-500: hsl(0 0% 78%);
    --colors-gray-600: hsl(0 0% 56.1%);
    --colors-gray-700: hsl(0 0% 52.3%);
    --colors-gray-800: hsl(0 0% 43.5%);
    --colors-gray-900: hsl(0 0% 9%);

    --selection: hsla(0, 0%, 0%, 0.075);
    --border: hsla(0, 0%, 0%, 0.09);

    --page-background: var(--colors-gray-50);

    --text-body: var(--colors-gray-900);
    --text-second: var(--colors-gray-800);
    --text-disabled: var(--colors-gray-600);

    --colors-accent: hsl(173 80% 36%);
    --colors-ring: 0 0 0 2px var(--colors-gray-50), 0 0 0 4px var(--colors-accent),
      0 0 0 6px rgba(26, 26, 26, 0.06);

    --colors-blur-gradient: linear-gradient(
      180deg,
      #fff 0,
      hsla(0, 0%, 100%, 0.738) 19%,
      hsla(0, 0%, 100%, 0.541) 34%,
      hsla(0, 0%, 100%, 0.382) 47%,
      hsla(0, 0%, 100%, 0.278) 56.5%,
      hsla(0, 0%, 100%, 0.194) 65%,
      hsla(0, 0%, 100%, 0.126) 73%,
      hsla(0, 0%, 100%, 0.075) 80.2%,
      hsla(0, 0%, 100%, 0.042) 86.1%,
      hsla(0, 0%, 100%, 0.021) 91%,
      hsla(0, 0%, 100%, 0.008) 95.2%,
      hsla(0, 0%, 100%, 0.002) 98.2%,
      hsla(0, 0%, 100%, 0)
    );
  }

  .dark {
    --colors-gray-50: hsl(0 0% 8.5%);
    --colors-gray-100: hsl(0 0% 11%);
    --colors-gray-150: hsl(0 0% 13.6%);
    --colors-gray-200: hsl(0 0% 15.8%);
    --colors-gray-250: hsl(0 0% 17.9%);
    --colors-gray-300: hsl(0 0% 20.5%);
    --colors-gray-400: hsl(0 0% 24.3%);
    --colors-gray-500: hsl(0 0% 31.2%);
    --colors-gray-600: hsl(0 0% 43.9%);
    --colors-gray-700: hsl(0 0% 49.4%);
    --colors-gray-800: hsl(0 0% 62.8%);
    --colors-gray-900: hsl(0 0% 93%);

    --selection: hsla(0, 0%, 100%, 0.077);
    --border: hsla(0, 0%, 100%, 0.1);

    --page-background: var(--colors-gray-50);

    --text-body: var(--colors-gray-900);
    --text-second: var(--colors-gray-800);
    --text-disabled: var(--colors-gray-600);

    --colors-accent: hsl(173 80% 36%);
    --colors-ring: 0 0 0 2px var(--colors-gray-50), 0 0 0 4px var(--colors-accent),
      0 0 0 6px rgba(26, 26, 26, 0.06);

    --colors-blur-gradient: linear-gradient(
      180deg,
      hsl(0 0% 8.5%),
      hsla(0, 0%, 8.5%, 0.738) 19%,
      hsla(0, 0%, 8.5%, 0.541) 34%,
      hsla(0, 0%, 8.5%, 0.382) 47%,
      hsla(0, 0%, 8.5%, 0.278) 56.5%,
      hsla(0, 0%, 8.5%, 0.194) 65%,
      hsla(0, 0%, 8.5%, 0.126) 73%,
      hsla(0, 0%, 8.5%, 0.075) 80.2%,
      hsla(0, 0%, 8.5%, 0.042) 86.1%,
      hsla(0, 0%, 8.5%, 0.021) 91%,
      hsla(0, 0%, 8.5%, 0.008) 95.2%,
      hsla(0, 0%, 8.5%, 0.002) 98.2%,
      hsla(0, 0%, 8.5%, 0)
    );
  }
}

/* ---- font ---- */
@layer base {
  :root {
    --font-sans: 'Pretendard Variable';
    --font-serif: 'AritaBuri';
  }
}

/* ---- space ---- */
@layer base {
  :root {
    --xl: 1350px;
    --lg: 1024px;
    --md: 964px;
    --sm: 700px;

    --blur-height: 128px;
    --page-header: 64px;
    --page-top: calc(var(--blur-height) + (var(--page-header)));
    --page-width: 1200px;
    --content-width: 700px;
    --body-margin-left: max(24px, env(safe-area-inset-left));
    --body-margin-right: max(24px, env(safe-area-inset-right));
  }
}

@screen md {
  :root {
    --blur-height: 48px;
  }
}

/* ---- layout ---- */
@layer utilities {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: var(--header-height);
    -webkit-tap-highlight-color: transparent;

    scrollbar-gutter: stable;
  }

  body {
    @apply m-0 min-h-screen p-0;
    @apply font-sans text-sm leading-normal tracking-normal antialiased;
    @apply bg-page text-second;

    padding-bottom: env(safe-area-inset-bottom);
  }

  .container {
    padding-left: var(--body-margin-left);
    padding-right: var(--body-margin-right);
    padding-top: var(--blur-height);
  }

  .blur-layer {
    content: '';
    pointer-events: none;
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 8rem;
    background: var(--colors-blur-gradient);
  }

  /* .blur-layer {
    mask-image: linear-gradient(to bottom, var(--colors-gray-50) 25%, transparent);
    backdrop-filter: blur(5px);
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 8rem;
    pointer-events: none;
  } */
}

@layer components {
  *,
  *::before,
  *::after {
    box-sizing: border-box;

    --tw-ring-offset-width: 2px;
    --tw-ring-color: var(--colors-accent);
    --tw-shadow: 0 0 0 6px rgba(26, 26, 26, 0.06);
    --tw-shadow-colored: 0 0 0 6px rgba(26, 26, 26, 0.06);
  }

  * {
    @apply border-border text-body focus-visible:outline-none;
  }

  ::selection {
    @apply bg-selection shadow-none;
  }

  b,
  strong {
    @apply font-semibold text-body;
  }

  em {
    @apply font-sans font-bold not-italic text-body;
  }

  del {
    @apply text-disabled;
  }

  mark {
    @apply mx-0.5 rounded-sm bg-selection font-medium text-body;
    padding: 3px 5px;
  }

  /* a[rel='noopener noreferrer'][target='_blank'],
  .mdx a[rel='noopener noreferrer'][target='_blank'] {
    @apply relative inline-block break-all text-second;
    @apply underline decoration-gray-400 decoration-1 underline-offset-4 duration-200 ease-in-out;
    @apply hover:decoration-gray-600 hover:duration-100;
  } */
  a[rel='noopener noreferrer'][target='_blank']::before,
  .mdx a[rel='noopener noreferrer'][target='_blank']::before {
    @apply absolute -inset-x-1 bottom-0.5 top-0 -z-10 rounded transition-colors;
    content: '';
  }
  a[rel='noopener noreferrer'][target='_blank']::before {
    @apply -right-0.5;
  }
  a[rel='noopener noreferrer'][target='_blank']::after {
    @apply m-0 inline-block h-3.5 w-3.5 fill-transparent;
    content: '';
    background: url('data:image/svg+xml;utf8,<svg color="%23464646" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M6 18L18 6m0 0H9m9 0v9"/></svg>');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .dark a[rel='noopener noreferrer'][target='_blank']::after {
    content: '';
    background: url('data:image/svg+xml;utf8,<svg color="%23B0B0B0" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M6 18L18 6m0 0H9m9 0v9"/></svg>');
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* ---- scrollbar ---- */
  * {
    --scrollbar-size: 0;
    --scrollbar-size-min: 44px;
    --scrollbar-color: var(--colors-gray-200);

    scrollbar-color: var(--scrollbar-color) transparent;
    /* firefox */
    scrollbar-width: thin;
  }

  ::-webkit-scrollbar {
    width: var(--scrollbar-size);
    height: var(--scrollbar-size);
  }

  ::-webkit-scrollbar-thumb {
    min-width: var(--scrollbar-size-min);
    min-height: var(--scrollbar-size-min);
    border: 5px solid transparent;
    border-radius: var(--scrollbar-size);
    background-clip: padding-box;
    background-color: var(--scrollbar-color);
  }

  ::-webkit-scrollbar-thumb:hover {
    --scrollbar-color: var(--colors-gray-300);
  }

  ::-webkit-scrollbar-thumb:active {
    --scrollbar-color: var(--colors-gray-300);
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-button,
  ::-webkit-scrollbar-corner,
  ::-webkit-resizer {
    display: none;
  }
}
