@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");
@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@300..1000&display=swap");

@layer theme, base, components, utilities;

@import "./utilities.css";
@import "./prose.css";

@import "tailwindcss";

@config '../../tailwind.config.ts';

/* -- colors --- */
@layer theme {
  :root {
    --colors-gray-50: hsl(0 0% 99%);
    --colors-gray-100: hsl(0 0% 97.3%);
    --colors-gray-150: hsl(0 0% 95.1%);
    --colors-gray-200: hsl(0 0% 93%);
    --colors-gray-250: hsl(0 0% 90.9%);
    --colors-gray-300: hsl(0 0% 88.7%);
    --colors-gray-400: hsl(0 0% 85.8%);
    --colors-gray-500: hsl(0 0% 78%);
    --colors-gray-600: hsl(0 0% 56.1%);
    --colors-gray-700: hsl(0 0% 52.3%);
    --colors-gray-800: hsl(0 0% 43.5%);
    --colors-gray-900: hsl(0 0% 9%);

    --selection: hsla(0, 0%, 0%, 0.075);
    --border: hsla(0, 0%, 0%, 0.09);

    --page-background: var(--colors-gray-50);

    --text-body: var(--colors-gray-900);
    --text-second: var(--colors-gray-800);
    --text-disabled: var(--colors-gray-600);

    --colors-accent: hsl(173 80% 36%);
    --colors-ring: 0 0 0 2px var(--colors-gray-50), 0 0 0 4px var(--colors-accent), 0 0 0 6px
      rgba(26, 26, 26, 0.06);

    --colors-blur-gradient: linear-gradient(
      180deg,
      #fff 0,
      hsla(0, 0%, 100%, 0.738) 19%,
      hsla(0, 0%, 100%, 0.541) 34%,
      hsla(0, 0%, 100%, 0.382) 47%,
      hsla(0, 0%, 100%, 0.278) 56.5%,
      hsla(0, 0%, 100%, 0.194) 65%,
      hsla(0, 0%, 100%, 0.126) 73%,
      hsla(0, 0%, 100%, 0.075) 80.2%,
      hsla(0, 0%, 100%, 0.042) 86.1%,
      hsla(0, 0%, 100%, 0.021) 91%,
      hsla(0, 0%, 100%, 0.008) 95.2%,
      hsla(0, 0%, 100%, 0.002) 98.2%,
      hsla(0, 0%, 100%, 0)
    );
  }

  .dark {
    --colors-gray-50: hsl(0 0% 8.5%);
    --colors-gray-100: hsl(0 0% 11%);
    --colors-gray-150: hsl(0 0% 13.6%);
    --colors-gray-200: hsl(0 0% 15.8%);
    --colors-gray-250: hsl(0 0% 17.9%);
    --colors-gray-300: hsl(0 0% 20.5%);
    --colors-gray-400: hsl(0 0% 24.3%);
    --colors-gray-500: hsl(0 0% 31.2%);
    --colors-gray-600: hsl(0 0% 43.9%);
    --colors-gray-700: hsl(0 0% 49.4%);
    --colors-gray-800: hsl(0 0% 62.8%);
    --colors-gray-900: hsl(0 0% 93%);

    --selection: hsla(0, 0%, 100%, 0.077);
    --border: hsla(0, 0%, 100%, 0.1);

    --page-background: var(--colors-gray-50);

    --text-body: var(--colors-gray-900);
    --text-second: var(--colors-gray-800);
    --text-disabled: var(--colors-gray-600);

    --colors-accent: hsl(173 80% 36%);
    --colors-ring: 0 0 0 2px var(--colors-gray-50), 0 0 0 4px var(--colors-accent), 0 0 0 6px
      rgba(26, 26, 26, 0.06);

    --colors-blur-gradient: linear-gradient(
      180deg,
      hsl(0 0% 8.5%),
      hsla(0, 0%, 8.5%, 0.738) 19%,
      hsla(0, 0%, 8.5%, 0.541) 34%,
      hsla(0, 0%, 8.5%, 0.382) 47%,
      hsla(0, 0%, 8.5%, 0.278) 56.5%,
      hsla(0, 0%, 8.5%, 0.194) 65%,
      hsla(0, 0%, 8.5%, 0.126) 73%,
      hsla(0, 0%, 8.5%, 0.075) 80.2%,
      hsla(0, 0%, 8.5%, 0.042) 86.1%,
      hsla(0, 0%, 8.5%, 0.021) 91%,
      hsla(0, 0%, 8.5%, 0.008) 95.2%,
      hsla(0, 0%, 8.5%, 0.002) 98.2%,
      hsla(0, 0%, 8.5%, 0)
    );
  }
}

/* ---- font ---- */
@layer theme {
  :root {
    --font-sans: "Pretendard Variable";
    --font-serif: "AritaBuri";
    --font-mono: "Recursive";
  }
}

/* ---- space ---- */
@layer theme {
  :root {
    --xl: 1350px;
    --lg: 1024px;
    --md: 964px;
    --sm: 700px;

    --blur-height: 128px;
    --page-header: 64px;
    --page-top: calc(var(--blur-height) + (var(--page-header)));
    --page-width: 1200px;
    --content-width: 700px;
    --body-margin-left: max(24px, env(safe-area-inset-left));
    --body-margin-right: max(24px, env(safe-area-inset-right));
  }
}

@layer theme {
  @media (700px >= width) {
    :root {
      --blur-height: 48px;
    }
  }

  /* ---- layout ---- */
}
@layer base {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: var(--header-height);
    -webkit-tap-highlight-color: transparent;

    scrollbar-gutter: stable;
  }

  body {
    @apply m-0 min-h-screen p-0;
    @apply font-sans text-sm leading-normal tracking-normal antialiased;
    @apply bg-page text-second;

    padding-bottom: env(safe-area-inset-bottom);
  }
}

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;

    --tw-ring-offset-width: 2px;
    --tw-ring-color: var(--colors-accent);
    --tw-shadow: 0 0 0 6px rgba(26, 26, 26, 0.06);
    --tw-shadow-colored: 0 0 0 6px rgba(26, 26, 26, 0.06);
  }

  * {
    @apply border-border text-body focus-visible:outline-hidden;
  }

  ::selection {
    @apply bg-selection shadow-none;
  }

  b,
  strong {
    @apply font-semibold text-body;
  }

  em {
    @apply font-sans font-bold not-italic text-body;
  }

  del {
    @apply text-disabled;
  }

  mark {
    @apply mx-0.5 rounded-xs bg-selection font-medium text-body;
    padding: 3px 5px;
  }

  /* ---- scrollbar ---- */
  * {
    --scrollbar-size: 0;
    --scrollbar-size-min: 44px;
    --scrollbar-color: var(--colors-gray-200);

    scrollbar-color: var(--scrollbar-color) transparent;
    /* firefox */
    scrollbar-width: thin;
  }

  ::-webkit-scrollbar {
    width: var(--scrollbar-size);
    height: var(--scrollbar-size);
  }

  ::-webkit-scrollbar-thumb {
    min-width: var(--scrollbar-size-min);
    min-height: var(--scrollbar-size-min);
    border: 5px solid transparent;
    border-radius: var(--scrollbar-size);
    background-clip: padding-box;
    background-color: var(--scrollbar-color);
  }

  ::-webkit-scrollbar-thumb:hover {
    --scrollbar-color: var(--colors-gray-300);
  }

  ::-webkit-scrollbar-thumb:active {
    --scrollbar-color: var(--colors-gray-300);
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-button,
  ::-webkit-scrollbar-corner,
  ::-webkit-resizer {
    display: none;
  }
}
