@import 'tailwindcss';
@import './utilities.css';
@import './prose.css';

/* -------------------------------------------------------------------------- */
/*                                    Theme                                   */
/* -------------------------------------------------------------------------- */

:root {
  --page-background: var(--color-gray-50);
  --text-body: var(--color-gray-900);
  --text-second: var(--color-gray-700);
  --text-disabled: var(--color-gray-600);

  /* --color-grid-line: #7575750f; */
  /* --color-grid-line: oklab(60% 0.2 0.1 / 0.03); */
  --color-accent: oklch(0.7 0.2 28.5);
  --color-grid-line: color-mix(in oklab, var(--color-accent) 8%, transparent 95%);
  --color-code-block: color-mix(in oklab, var(--color-accent) 5%, transparent 95%);

  --color-blur-gradient: linear-gradient(
    180deg,
    #fff 0,
    hsla(0, 0%, 100%, 0.738) 19%,
    hsla(0, 0%, 100%, 0.541) 34%,
    hsla(0, 0%, 100%, 0.382) 47%,
    hsla(0, 0%, 100%, 0.278) 56.5%,
    hsla(0, 0%, 100%, 0.194) 65%,
    hsla(0, 0%, 100%, 0.126) 73%,
    hsla(0, 0%, 100%, 0.075) 80.2%,
    hsla(0, 0%, 100%, 0.042) 86.1%,
    hsla(0, 0%, 100%, 0.021) 91%,
    hsla(0, 0%, 100%, 0.008) 95.2%,
    hsla(0, 0%, 100%, 0.002) 98.2%,
    hsla(0, 0%, 100%, 0)
  );

  --background-gradient: radial-gradient(
    70% 40% at 50% 35%,
    #0000 0% 20%,
    #ffffff26 35%,
    #ffffff59 50%,
    #ffffffa6 70%,
    #ffffffe6 90%,
    #fffffffa 100%
  );

  /* -- Breakpoint */
  --xl: 1350px;
  --lg: 1024px;
  --md: 964px;
  --sm: 700px;

  /* -- Layout & Spacing -- */
  --grid-size: 28px;

  --blur-height: calc(var(--grid-size) * 4);
  --page-width: calc(var(--grid-size) * 40);
  --content-width: calc(var(--grid-size) * 26);
  --body-margin-left: max(var(--grid-size), env(safe-area-inset-left));
  --body-margin-right: max(var(--grid-size), env(safe-area-inset-right));
}

@media (727px >= width) {
  :root {
    --blur-height: 56px;
  }
}

@theme {
  /* -- Colors -- */
  --color-gray-50: hsl(0deg, 0%, 100%);
  --color-gray-100: hsl(0deg, 0%, 93%);
  --color-gray-150: hsl(0deg, 0%, 86%);
  --color-gray-200: hsl(0deg, 0%, 79%);
  --color-gray-250: hsl(0deg, 0%, 71%);
  --color-gray-300: hsl(0deg, 0%, 64%);
  --color-gray-400: hsl(0deg, 0%, 56%);
  --color-gray-500: hsl(0deg, 0%, 48%);
  --color-gray-600: hsl(0deg, 0%, 39%);
  --color-gray-700: hsl(0deg, 0%, 30%);
  --color-gray-800: hsl(0deg, 0%, 20%);
  --color-gray-900: hsl(0deg, 0%, 9%);

  --color-selection: hsla(0, 0%, 0%, 0.075);
  --color-border: hsla(0, 0%, 0%, 0.09);
  --color-ring: var(--color-accent);

  /* -- Fonts -- */
  --font-mono: 'Recursive', monospace;

  /* -- Custom Colors -- */
  --color-page: var(--page-background);
  --color-body: var(--text-body);
  --color-second: var(--text-second);
  --color-disabled: var(--text-disabled);

  /* -- Breakpoints */
  --breakpoint-*: initial;
  --breakpoint-xl: 1280px;
  --breakpoint-lg: 1074px;
  --breakpoint-md: 700px;
  --breakpoint-sm: 640px;

  /* -- Spacings -- */
  --spacing-blur-height: var(--blur-height);
  --spacing-page: var(--page-width);
  --spacing-content: var(--content-width);

  --spacing-xs: calc(var(--grid-size) / 2);
  --spacing-sm: calc(var(--grid-size) / 1.5);
  --spacing-default: var(--grid-size);
  --spacing-lg: calc(var(--grid-size) * 1.5);
  --spacing-xl: calc(var(--grid-size) * 2);
}

.dark {
  --color-gray-50: hsl(0, 0%, 9%);
  --color-gray-100: hsl(0, 0%, 11%);
  --color-gray-150: hsl(0 0% 13.6%);
  --color-gray-200: hsl(0 0% 15.8%);
  --color-gray-250: hsl(0 0% 17.9%);
  --color-gray-300: hsl(0 0% 20.5%);
  --color-gray-400: hsl(0 0% 24.3%);
  --color-gray-500: hsl(0 0% 31.2%);
  --color-gray-600: hsl(0 0% 43.9%);
  --color-gray-700: hsl(0 0% 49.4%);
  --color-gray-800: hsl(0 0% 62.8%);
  --color-gray-900: hsl(0 0% 93%);

  --color-selection: hsla(0, 0%, 100%, 0.077);
  --color-border: hsla(0, 0%, 100%, 0.1);

  --page-background: var(--color-gray-50);
  --text-body: var(--color-gray-900);
  --text-second: var(--color-gray-800);
  --text-disabled: var(--color-gray-600);

  --color-blur-gradient: linear-gradient(
    180deg,
    hsl(0 0% 8.5%),
    hsla(0, 0%, 8.5%, 0.738) 19%,
    hsla(0, 0%, 8.5%, 0.541) 34%,
    hsla(0, 0%, 8.5%, 0.382) 47%,
    hsla(0, 0%, 8.5%, 0.278) 56.5%,
    hsla(0, 0%, 8.5%, 0.194) 65%,
    hsla(0, 0%, 8.5%, 0.126) 73%,
    hsla(0, 0%, 8.5%, 0.075) 80.2%,
    hsla(0, 0%, 8.5%, 0.042) 86.1%,
    hsla(0, 0%, 8.5%, 0.021) 91%,
    hsla(0, 0%, 8.5%, 0.008) 95.2%,
    hsla(0, 0%, 8.5%, 0.002) 98.2%,
    hsla(0, 0%, 8.5%, 0)
  );

  --background-gradient: radial-gradient(
    70% 40% at 50% 35%,
    #0000 0% 20%,
    #00000026 35%,
    #00000059 50%,
    #000000a6 70%,
    #000000e6 90%,
    #000000fa 100%
  );
}

/* --- Base --- */

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    --tw-ring-offset-color: var(--color-page);
    --tw-ring-offset-width: 2px;
    --tw-ring-color: var(--color-accent);
  }

  * {
    @apply border-border text-body focus-visible:outline-hidden;
  }

  html {
    scroll-behavior: smooth;
    scroll-padding-top: var(--header-height);
    -webkit-tap-highlight-color: transparent;
    scrollbar-gutter: stable;

    background-color: var(--color-page);
  }

  body {
    @apply wrap-break-word;
    @apply font-serif text-base leading-7 antialiased;

    font-kerning: normal;
    font-feature-settings: 'kern', 'liga', 'clig', 'calt';
    padding-bottom: env(safe-area-inset-bottom);
    background-image:
      linear-gradient(to right, var(--color-grid-line) 1px, transparent 1px),
      linear-gradient(to bottom, var(--color-grid-line) 1px, transparent 1px);
    background-size: var(--grid-size) var(--grid-size);
    background-position: 0 0;
  }

  body:before {
    content: '';
    position: fixed;
    inset: 0;
    pointer-events: none;
    background: var(--background-gradient);
  }

  ::selection {
    @apply bg-selection shadow-none;
  }

  /* Typography */
  b,
  strong {
    @apply font-semibold text-body;
  }

  em {
    @apply font-serif font-bold not-italic text-body;
  }

  del {
    @apply text-disabled;
  }

  mark {
    @apply mx-0.5 rounded-xs bg-selection font-medium text-body;
    padding: 3px 5px;
  }

  /* Scrollbar */
  * {
    --scrollbar-size: 0;
    --scrollbar-size-min: 44px;
    --scrollbar-color: var(--color-gray-200);

    scrollbar-color: var(--scrollbar-color) transparent;
    scrollbar-width: thin;
  }

  ::-webkit-scrollbar {
    width: var(--scrollbar-size);
    height: var(--scrollbar-size);
  }

  ::-webkit-scrollbar-thumb {
    min-width: var(--scrollbar-size-min);
    min-height: var(--scrollbar-size-min);
    border: 5px solid transparent;
    border-radius: var(--scrollbar-size);
    background-clip: padding-box;
    background-color: var(--scrollbar-color);
  }

  ::-webkit-scrollbar-thumb:hover,
  ::-webkit-scrollbar-thumb:active {
    --scrollbar-color: var(--color-gray-300);
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-button,
  ::-webkit-scrollbar-corner,
  ::-webkit-resizer {
    display: none;
  }
}
