@layer theme {
  :root {
    --token-constant: oklch(53.18% 0.2399 256.9900584162342);
    --token-string: oklch(51.75% 0.1453 147.65);
    --token-comment: var(--colors-gray-800);
    --token-keyword: oklch(53.5% 0.2058 2.84);
    --token-parameter: oklch(52.79% 0.1496 54.65);
    --token-function: oklch(47.782% 0.25058 303.298);
    --token-string-expression: oklch(51.75% 0.1453 147.65);
    --token-punctuation: hsla(0, 0%, 9%, 1);
    --token-link: oklch(51.75% 0.1453 147.65);
  }

  .dark {
    --token-constant: oklch(71.7% 0.1648 250.79360374054167);
    --token-string: oklch(73.1% 0.2158 148.29);
    --token-comment: var(--colors-gray-800);
    --token-keyword: oklch(69.36% 0.2223 3.91);
    --token-parameter: oklch(77.21% 0.1991 64.28);
    --token-function: oklch(69.87% 0.2037 309.51);
    --token-string-expression: oklch(73.1% 0.2158 148.29);
    --token-punctuation: hsla(0, 0%, 93%, 1);
    --token-link: oklch(73.1% 0.2158 148.29);
  }
}

@layer base {
  .prose {
    @apply w-full text-second;

    --shiki-color-text: var(--text-second);
    --shiki-color-background: var(--colors-gray-100);
    --shiki-token-constant: var(--token-constant);
    --shiki-token-string: var(--token-string);
    --shiki-token-comment: var(--colors-gray-800);
    --shiki-token-keyword: var(--token-keyword);
    --shiki-token-parameter: var(--token-parameter);
    --shiki-token-function: var(--token-function);
    --shiki-token-string-expression: var(--token-string-expression);
    --shiki-token-punctuation: var(--token-punctuation);
    --shiki-token-link: var(--token-link);
  }

  .prose > * {
    @apply mb-7;
  }

  /* code */

  .prose code:not(pre code) {
    @apply inline-block rounded bg-gray-150 px-1 font-mono text-xs leading-5;
  }

  .prose pre {
    @apply grid overflow-x-auto rounded-lg bg-gray-100 px-4 py-4 text-[13px] leading-6;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
  }

  .prose pre button {
    @apply opacity-0 transition-opacity duration-200 ease-[ease];
  }

  .prose pre:hover button {
    @apply opacity-100;
  }

  .prose p {
    @apply text-sm leading-7 tracking-normal;
    /* font-feature-settings: 'kern', 'frac', 'kern', 'ss02'; */
  }

  .prose b,
  .prose strong:not:has(code) {
    @apply bg-gray-400 p-0.5 font-semibold;
  }

  .prose em {
    @apply font-sans not-italic;
  }

  .prose del {
    @apply italic text-gray-700;
  }

  .prose a {
    @apply relative break-all underline decoration-gray-800 decoration-1 underline-offset-[2.5px] transition-[color,text-decoration-color] duration-200 ease-[ease] hover:text-body hover:decoration-gray-800;
  }

  .prose blockquote {
    @apply relative font-sans text-second;
    quotes: "“" "”" "‘" "’";
    --quote-offset: 2px;
  }

  .prose blockquote:before {
    @apply absolute -translate-x-full text-gray-500;
    content: open-quote;
    left: calc(-1 * var(--quote-offset));
  }

  .prose blockquote :last-child:after {
    content: close-quote;
    margin-left: var(--quote-offset);
  }

  .prose blockquote * {
    @apply text-second;
  }

  .prose > :has(+ :where(ul, ol)) {
    @apply mb-2;
  }

  .prose ul {
    list-style-type: disc;
    list-style-position: outside;
    padding-left: 16px;
  }

  .prose li > ul {
    @apply list-[circle];
  }

  .prose li {
    @apply list-item leading-7;
  }

  .prose li::marker {
    @apply text-gray-300;
  }

  .prose li + li,
  .prose li > ul {
    @apply mt-[7px];
  }

  .prose li > div,
  .prose li > p {
    @apply mb-3;
  }

  .prose ol {
    --counter-space: 12px;
    counter-reset: basics-ol;
    list-style-type: none;
    padding: 0;
  }

  .prose ol li {
    --l: calc(2 * var(--counter-space));
    text-indent: calc(-1 * var(--l));
    padding-left: var(--l);
  }

  .prose ol li:before {
    @apply inline-flex select-none items-center justify-end text-right text-gray-900;
    content: counter(basics-ol) ". ";
    counter-increment: basics-ol;
    min-width: var(--counter-space);
    margin-right: var(--counter-space);
    font-feature-settings: "tnum" 1;
    letter-spacing: -0.05em;
    line-height: normal;
  }

  .prose hr {
    @apply h-[1px] border-none bg-gray-500;
  }

  .prose table {
    empty-cells: hide;
    @apply md:text-sm;
  }

  .prose th {
    @apply px-4 pb-1 text-left font-semibold [&[align=center]]:text-center [&[align=right]]:text-right;
  }

  .prose td {
    @apply border-l px-4 py-2 text-left align-text-top [&[align=center]]:text-center [&[align=right]]:text-right;
  }

  .prose td:first-child {
    word-break: keep-all;
  }

  .prose td:last-child {
    @apply border-r;
  }

  .prose img {
    @apply flex overflow-hidden rounded-md;
  }

  .prose img + em,
  .prose img + em p {
    @apply mt-2 inline-block font-sans text-sm not-italic leading-5 text-gray-900;
  }

  .prose img {
    filter: drop-shadow(0 3px 5px rgba(0, 0, 0, 0.1));
  }

  .prose [data-rehype-pretty-code-fragment] {
    @apply relative;
  }

  .prose [data-rehype-pretty-code-fragment] pre {
    box-shadow: 0 0 0 1px var(--colors-gray-200);

    @apply px-2;
  }

  [data-rehype-pretty-code-title] {
    @apply mb-1 text-sm text-second;
  }

  [data-rehype-pretty-code-caption] {
    @apply mt-1 text-sm text-disabled;
  }

  [data-line] {
    @apply inline-block w-full px-4;
  }

  [data-highlighted-line] {
    @apply bg-gray-200;
  }

  [data-line-numbers] {
    counter-reset: line;
  }

  [data-line-numbers] > [data-line] {
    @apply pl-0;
  }

  [data-line-numbers] > [data-line]::before {
    @apply mr-6 inline-block w-4 text-right text-gray-400;
    counter-increment: line;
    content: counter(line);
  }

  code[data-line-numbers-max-digits="2"] > [data-line]::before {
    width: 1.5rem;
  }

  code[data-line-numbers-max-digits="3"] > [data-line]::before {
    width: 2.5rem;
  }

  [data-highlighted-chars] {
    @apply rounded-md bg-gray-300 px-1 shadow;
  }

  [data-chars-id] {
    @apply border-b-2;
  }

  [data-chars-id] span {
    color: inherit !important;
  }

  [data-chars-id="v"] {
    @apply font-semibold text-gray-50;
    border-bottom-color: rgb(249 168 212);
    background-color: #9f123980;
  }

  [data-chars-id="s"] {
    @apply font-semibold text-gray-50;
    border-bottom-color: rgb(202 138 4);
    background-color: #854d0e80;
  }

  [data-chars-id="i"] {
    @apply font-semibold text-gray-50;
    border-bottom-color: rgb(147 51 234);
    background-color: #6b21a880;
  }

  /* rehype-autolink-headings */

  .prose a.anchor {
    @apply relative no-underline after:opacity-0 hover:after:opacity-100 focus:after:opacity-100;
  }
  /* 
  .prose .anchor:after {
    content: "";
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='%23838383' xmlns='http://www.w3.org/2000/svg' aria-hidden='true'%3E%3Cpath d='M8.51194 3.00541C9.18829 2.54594 10.0435 2.53694 10.6788 2.95419C10.8231 3.04893 10.9771 3.1993 11.389 3.61119C11.8009 4.02307 11.9513 4.17714 12.046 4.32141C12.4633 4.95675 12.4543 5.81192 11.9948 6.48827C11.8899 6.64264 11.7276 6.80811 11.3006 7.23511L10.6819 7.85383C10.4867 8.04909 10.4867 8.36567 10.6819 8.56093C10.8772 8.7562 11.1938 8.7562 11.389 8.56093L12.0077 7.94221L12.0507 7.89929C12.4203 7.52976 12.6568 7.2933 12.822 7.0502C13.4972 6.05623 13.5321 4.76252 12.8819 3.77248C12.7233 3.53102 12.4922 3.30001 12.1408 2.94871L12.0961 2.90408L12.0515 2.85942C11.7002 2.508 11.4692 2.27689 11.2277 2.11832C10.2377 1.46813 8.94398 1.50299 7.95001 2.17822C7.70691 2.34336 7.47044 2.57991 7.1009 2.94955L7.058 2.99247L6.43928 3.61119C6.24401 3.80645 6.24401 4.12303 6.43928 4.31829C6.63454 4.51355 6.95112 4.51355 7.14638 4.31829L7.7651 3.69957C8.1921 3.27257 8.35757 3.11027 8.51194 3.00541ZM4.31796 7.14672C4.51322 6.95146 4.51322 6.63487 4.31796 6.43961C4.12269 6.24435 3.80611 6.24435 3.61085 6.43961L2.99213 7.05833L2.94922 7.10124C2.57957 7.47077 2.34303 7.70724 2.17788 7.95035C1.50265 8.94432 1.4678 10.238 2.11799 11.2281C2.27656 11.4695 2.50766 11.7005 2.8591 12.0518L2.90374 12.0965L2.94837 12.1411C3.29967 12.4925 3.53068 12.7237 3.77214 12.8822C4.76219 13.5324 6.05589 13.4976 7.04986 12.8223C7.29296 12.6572 7.52943 12.4206 7.89896 12.051L7.89897 12.051L7.94188 12.0081L8.5606 11.3894C8.75586 11.1941 8.75586 10.8775 8.5606 10.6823C8.36533 10.487 8.04875 10.487 7.85349 10.6823L7.23477 11.301C6.80777 11.728 6.6423 11.8903 6.48794 11.9951C5.81158 12.4546 4.95642 12.4636 4.32107 12.0464C4.17681 11.9516 4.02274 11.8012 3.61085 11.3894C3.19896 10.9775 3.0486 10.8234 2.95385 10.6791C2.53661 10.0438 2.54561 9.18863 3.00507 8.51227C3.10993 8.35791 3.27224 8.19244 3.69924 7.76544L4.31796 7.14672ZM9.62172 6.08558C9.81698 5.89032 9.81698 5.57373 9.62172 5.37847C9.42646 5.18321 9.10988 5.18321 8.91461 5.37847L5.37908 8.91401C5.18382 9.10927 5.18382 9.42585 5.37908 9.62111C5.57434 9.81637 5.89092 9.81637 6.08619 9.62111L9.62172 6.08558Z' fill-rule='evenodd' clip-rule='evenodd'%3E%3C/path%3E%3C/svg%3E");

    @apply absolute top-1/2 ml-2 inline-block h-4 w-4 -translate-y-1/2 opacity-0 transition-opacity;
  } */

  @media (hover: hover) {
    .prose a.anchor:hover,
    .prose *:hover > a.anchor {
      @apply opacity-100;
    }
  }

  /* prose */

  .prose > :first-child {
    @apply mt-0;
  }

  .prose > :where(h1, h2, h3, h4) {
    @apply no-underline scroll-mt-24 font-semibold leading-7;
    /* font-feature-settings: 'kern', 'calt', 'case'; */
  }

  .prose > :where(h1, h2) {
    @apply mt-16 text-sm;
  }

  .prose > :where(h3, h4) {
    @apply mt-16 text-sm;
  }

  .prose > :where(h1, h2) + :where(h3, h4) {
    @apply mt-0;
  }
}
