@utility container {
  padding-left: var(--body-margin-left);
  padding-right: var(--body-margin-right);
  padding-top: var(--blur-height);
}

@utility blur-layer {
  content: '';
  pointer-events: none;
  z-index: 9;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 8rem;
  background: var(--color-blur-gradient);
}

/* 
@utility mdx {
  a[rel="noopener noreferrer"][target="_blank"]::before {
    @apply absolute -inset-x-1 bottom-0.5 top-0 -z-10 rounded-sm transition-colors;
    content: "";
  }
}

@utility dark {
  a[rel="noopener noreferrer"][target="_blank"]::after {
    content: "";
    background: url('data:image/svg+xml;utf8,<svg color="%23B0B0B0" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M6 18L18 6m0 0H9m9 0v9"/></svg>');
    background-repeat: no-repeat;
    background-size: cover;
  }
} */
